<main role="main" class="col-md-12">
    <div>
        <div class="dropdown row" style="height: 200px;">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option selected="selected">Sobota</option>
                    <option>Niedziela</option>
                    <option>Poniedziałek</option>
                    <option>Wtorek</option>
                    <option>Środa</option>
                    <option>Czwartek</option>
                    <option>Piątek</option>
                </select>
            </div>
        </div>
        <hr class="solid">
        <div class="row">
            <ul id="peopleList" class="col-4 list-group">
            </ul>
            <div class="col-1">

            </div>
            <form class="form-group col-2">
                <div>
                    <label>Sortowane</label>
                    <input type="" class="form-control" disabled="true" id="sortedInput">
                    <label>Niesortowane</label>
                    <input type="" class="form-control" disabled="true" id="unsortedInput">
                    <label>Skubane</label>
                    <input type="" class="form-control" disabled="true" id="croppedInput">
                    <label>Kilogram</label>
                    <input type="" class="form-control" disabled="true" id="kgInput">
                </div>
            </form>
            <div class="col-3">
                <button type="button" class="btn btn-primary float-right" disabled="true" id="saveSingleReportButton" onclick="saveSingleReportClicked()">Zapisz</button>
                <button type="button" class="btn btn-dark float-right" id="editSingleReportButton" onclick="editSingleReportClicked()">Zmień</button>
            </div>
        </div>
        <hr class="solid">
        <div class="row">
            <div class="col-5">
                <button type="button" class="btn btn-success float-right" id="generateDailyButton" onclick="generateDaily()">Pobierz raport dzienny</button>
                <button type="button" class="btn btn-success float-right" id="generateWeeklyButton" onclick="generateWeekly()">Pobierz raport tygodniowy</button>
            </div>
        </div>
    </div>
</main>